
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Confirm</title>
 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
 
    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">

 
    
  </head>
 
  <body>
 
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" >666 CryptoTrading</a>
          <!--Add here -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
      </button>
      <!--Add here -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/portfolio">My Portfolio</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="/login">Log In</a>
                  </li> -->
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Log Out</a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="jumbotron">
        <h1 class="display-4">Thank you!! Your transaction is successful!!</h1>
        <table class="table ">
            
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ sym }}</td>
                <td>{{ qty }}</td>
                <td>{{ price }}</td>
                <td>{{ "%0.2f"|format(qty*price)}}</td>
              </tr>
            </tbody>
          </table>
        
        <a href="/trade" >Click here to trade again</a>
        </div>

    

      <footer class="footer">
            
        <p>&copy;666 CryptoTrading 2018</p>
      </footer>
 
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/signup.js"></script>
  </body>
</html>

