
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
 
    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">

   
  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" >CryptoTrading</a>
            <!--Add here -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!--Add here -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">My Porfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trade">Trade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
          

    <h2>CUSTOMER_PROFOLIO</h2>
    <h2>Hello, XXX </h2>
    User_ID: XXXX <br>
    <br>
    <br>
    <br>
    <table class="table table-hover">
      <caption>Current_Balence</caption>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Total_Quantity</th>
          <th>Total_Cost</th>
          <th>Mkt_Value</th>
          <th>UP/L</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>BTC</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
        </tr>
        <tr>
          <td>LTC</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
        </tr>
        <tr>
          <td>ETH</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
        </tr>
      </tbody>
    </table>

    <figure class="figure">
        <img src=".../400x300" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
      </figure>

    

    <table class = 'table table-hover'>
      <caption>Trading History</caption>
      <thead>
        <tr>
            <th>Symbol</th>
            <th>Qty</th>
            <th>Timestamp</th>
            <th>Cost</th>
            <th>Mkt_Price</th>
            <th>RP/L</th>
        </tr>
      </thead>
      {% for v in orders %}
      <tr>
          <td>{{v[0]}}</td>
          <td>{{v[1]}}</td>
          <td>{{v[2]}}</td>
          <td>{{v[3]}}</td>
          <td>{{v[4]}}</td>
          <td>{{v[5]}}</td>
      </tr>
      {% endfor %}
      </table>


      <figure class="figure">
          <img src=".../400x300" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
        </figure>

      
    

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>

