
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

   
  </head>

  <body>

    <h1>CUSTOMER_PROFOLIO</h1>
    <h2>Hello, XXX </h2>
    User_ID: XXXX <br>
    <br>
    <br>
    <br>
    <table class="table table-hover">
      <caption>Current_Balence</caption>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Total_Quantity</th>
          <th>Total_Cost</th>
          <th>Mkt_Value</th>
          <th>P/L</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>BTC</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
        </tr>
        <tr>
          <td>LTC</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
        </tr>
        <tr>
          <td>ETH</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
        </tr>
      </tbody>
    </table>

    <table class = 'table table'>
      <caption>Trading History</caption>
      <tr>
          <th>Symbol</th>
          <th>Qty</th>
          <th>Date</th>
          <th>Mkt_Price</th>
          <th>Cost</th>
      </tr>
      {% for v in orders %}
      <tr>
          <td>{{v[0]}}</td>
          <td>{{v[1]}}</td>
          <td>{{v[2]}}</td>
          <td>{{v[3]}}</td>
          <td>{{v[4]}}</td>
      </tr>
      {% endfor %}
      </table>

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>

