
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trade</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  </head>

<body class="horizontal-layout horizontal-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns"></body>

    <!-- <h1>Trade Page</h1>
    <h2>Created by: Josephine</h2> -->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" >666 CryptoTrading</a>
          <!--Add here -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
      </button>
      <!--Add here -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/portfolio">My Portfolio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="/trade">Trade</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Sign Out</a>
                  </li>
              </ul>
          </div>
      </nav>
      
    
    <br>

    <div class="jumbotron-narrow">
        <h1>Hello, {{userName}}</h1>
    </div>
  

    <div class="row">
          <div class="col">
              <div class="card ">
                  <div class="card-body text-center">
                      <div class="BIT"><img src="static/images/BIT1.png"class="navbar-brand" width="200" height="200"></div>
                      <h5 class="card-title">BITCOIN</h5>
                      <p class="card-text">Current Market Price </p>
                      <p class="card-text">{{ updated_price[1] }} USD</p>
                      <!-- <a href="/bitcoin" class="card-link">click to trade</a> -->
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <div class="card-body text-center">
                       <div class="LIT"><img src="static/images/LIT1.jpg"class="navbar-brand" width="200" height="200"></div>
                      <h5 class="card-title">LITECOIN</h5>
                      <p class="card-text">Current Market Price </p>
                      <p class="card-text">{{ updated_price[2] }} USD</p>
                      <!-- <a href="/litecoin" class="card-link">click to trade</a> -->
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card">
                  <div class="card-body text-center">
                      <div class="ETH">  <img src="static/images/ETH.PNG"class="navbar-brand" width="250" height="200"></div>
                      <h5 class="card-title">ETHEREUM</h5>
                      <p class="card-text">Current Market Price: </p>
                      <p class="card-text"> {{ updated_price[3] }} USD</p>
                      <!-- <a href="/ethereum" class="card-link">click to trade</a> -->
                  </div>
              </div>
          </div>
    </div>
            <br>
            <br>



    <div class="jumbotron-narrow">
        <h1>Trade Here</h1>
            <form class = "form-inline" method='post' action="/order">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Select a currency</label>
                    <select name="itemOrdered" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                          <option selected>Choose...</option>
                          <option value="1">BTC-USD</option>
                          <option value="2">LTC-USD</option>
                          <option value="3">ETH-USD</option>
                        </select>
                    
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Side</label>
                    <select name="saleorbuy" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                          <option selected>Choose...</option>
                          <option value="1">Sell</option>
                          <option value="2">Buy</option>
                          
                        </select>

                    <label class="sr-only" for="inlineFormInput">Quantity</label>
                    <input type="number" name="orderQty" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Quantity">
                      
                    <button type='submit'  class="btn btn-primary">CheckOut</button>
                </form>

    </div>


       
    

      <br>
      


      

    <footer class="footer">
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" >666 CryptoTrading</a>
              <!--Add here -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
          </button>
          <!--Add here -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="/protfolio">My Portfolio</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/trade">Trade</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/logout">Sign Out</a>
                      </li>
                  </ul>
              </div>
          </nav>
          
          <p>&copy;666 CryptoTrading 2018</p>

    </footer>

    </div>
  </body>
</html>

