
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>666 CryptoTrading</title>
 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
 
    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">

 
    
  </head>
 
  <body>
 
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" >666 CryptoTrading</a>
          <!--Add here -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
      </button>
      <!--Add here -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/portfolio">My Porfolio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/trade">Trade</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Log Out</a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="jumbotron">

        <h1>Hello,{{userName}}</h1>
        <h2 class="display-4">Online Crypto Trading Platform.</h2>
        <p class="lead">This online Crypto Trading platform allows users to trade three popular crypto currencies: Bitcoin,Litecoin,Ethereum. </p>
        <p class="lead">The users can click into different currencies to trade</p>

</div>


<div class="row">
    <div class="col">
        <div class="card ">
            <div class="card-body text-center">
                <div class="BIT"><img src="static/images/BIT1.png"class="navbar-brand" width="200" height="200"></div>
                <h5 class="card-title">BITCOIN</h5>
                <p class="card-text">The block chain is a shared public ledger on which the entire Bitcoin network relies. 
                        All confirmed transactions are in the block chain. Bitcoin wallets can calculate 
                        their spendable balance so that new transactions can be verified thereby ensuring they're actually 
                        owned by the spender. 
                        The chronological order of the block chain are enforced with cryptography</p>
                     
                <a href="/trade" class="card-link">click to trade</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                 <div class="LIT"><img src="static/images/LIT1.jpg"class="navbar-brand" width="200" height="200"></div>
                <h5 class="card-title">LITECOIN</h5>
                <p class="card-text">Litecoin (LTC) is VERY similar to Bitcoin. In fact, many 
                    call it the "silver" to Bitcoin's "gold", and these two best buddies have 
                    been holding down the crypto world since Litecoin was created in 2011 (roughly 
                    2 years after Bitcoin launched). Litecoin is a decentralized peer-to-peer digital 
                    rrency using blockchain technology that prides itself on speed and flexibility. 
                    </p>
                <a href="/trade" class="card-link">click to trade</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <div class="ETH">  <img src="static/images/ETH.PNG"class="navbar-brand" width="250" height="200"></div>
                <h5 class="card-title">ETHEREUM</h5>
                <p class="card-text">Ethereum is an open-source, public, blockchain-based distributed 
                    computing platform and operating system featuring smart contract (scripting) 
                    functionality. It supports a modified version of Nakamoto consensus via 
                    transaction-based state transitions.
Ether is a cryptocurrency whose blockchain is generated by the Ethereum platform. 
</p>
                <a href="/trade" class="card-link">click to trade</a>
            </div>
        </div>
    </div>
</div>

      
 
       
 
      <footer class="footer">
            <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" >CryptoTrading</a>
                      Add here
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                  <span class="navbar-toggler-icon"></span>
                  </button> -->
                  <!--Add here -->
                      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto">
                              <li class="nav-item">
                                  <a class="nav-link" href="/">About Us</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/login">Log In</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/signUp">Sign Up</a>
                              </li>
                          </ul>
                      </div>
                  </nav> --> 
        <p>&copy;666 CryptoTrading 2018</p>
      </footer>
 
    </div>
    <!-- <script src="/js/jquery.min.js"></script>
    <script src="/js/signup.js"></script> -->
  </body>
</html>

